<!DOCTYPE html>
<html>
    <head>
        <title>NGINX LB Demo ({{ appname }})</title>
        <meta charset="utf-8">
        <!--
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        -->
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    </head>

    <body>
        <h1>Hello! This is {{ appname }} :)</h1>
        <p>
            Viewed {{ count }} times!
            <br><br>
            {{ dateTimeUTC }} UTC
        </p>
    </body>
</html>
